@import 'variables';

html {
  font-size: 16px;
  background-color: $snow;
}

@media(max-width: 767px) {
  html {
    font-size: 14px;
  }
}

body {
  .main { margin: 1rem; }
  font-family: 'Open Sans', sans-serif;
  background-color: $snow;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Arvo', serif; }

nav {
  background-color: $spruce;
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: $snow;

  .spinner {
    animation: spin 2s linear infinite;
  }
}

.navbar-light .navbar-brand {
  color: $snow;
  text-shadow: 1px 1px 2px #333;
}

// .spinner {
//   transition: transform 1s;
// }

.fa-star {
  text-shadow: 0px 0px 2rem $golden;
  animation: shine 1s linear infinite alternate;
}

.fa.christmas-tree {
  font-size: 3rem;
}

.fa.fa-gift {
  font-size: 1.5rem;
}

.shiny {
  text-shadow: 0px 0px 1rem hsl(0, 100%, 100%);
}

.red { color:$ruby; }
.green { color: $spruce; }
.blue { color: $my-blue; }
.gold { color: $golden; }

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

@keyframes shine {
  from { text-shadow: 0px 0px 2rem $golden; }
  to { text-shadow: 0px 0px 4rem $golden; }
}

@import 'login';
