@import 'variables';

html {
  font-size: 16px;
  background-color: $snow;
}

body {
  .main { margin: 1rem; }
  font-family: 'Open Sans', sans-serif;
  background-color: $snow;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Arvo', serif; }

nav {
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: $snow;
}

.navbar-light .navbar-brand {
  color: $snow;
  text-shadow: 1px 1px 2px #333;
}

.fa-star {
  text-shadow: none;
}

.fa.christmas-tree {
  font-size: 3rem;
}

.fa.fa-gift {
  font-size: 1.5rem;
}

.shiny {
  text-shadow: 0px 0px 1rem hsl(0, 100%, 100%);
}

.red { color:$ruby; }
.green { color: green; }
.blue { color: blue; }
