<footer class="footer container text-center">
  <img style="max-height: 4rem;" src="/images/christmas-tree.png" />
  <br>
  <span class="fa fa-gift red"></span>
  <span class="fa fa-gift blue"></span>
  <span class="fa fa-gift green"></span>
</footer>