<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a href="/" class="navbar-brand"><span class="fa fa-star gold star spinner"></span> Pilcher Family Christmas</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Christmas Lists
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item disabled" href="/lists/dad">Dad</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled" href="/lists/mom">Mom</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/lists/craig">Craig/Jack</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled" href="/lists/connie">Connie</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/lists/doug">Doug</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled" href="/lists/ellen">Ellen</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/lists/jessie">Jessie</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/lists/kendall">Kendall/Ellie</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/lists/jackson">Jackson</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>